ul {
    list-style-type: none;
}

.board-columns {
    display: table;
    width: 100%;
    table-layout: fixed;
    list-style-type: none;
    padding-left: 0;
}

.board-column {
    display: table-cell;
    vertical-align: top;
}

.board-column-wBorder {
    border: 1px solid #eee;
}

.sortable-column {
    list-style-type: none;
    margin: 0;
    float: left;
    background: #eee;
    padding: 5px;
    width: 100%;
    border: 2px solid #fff;
}
