@model KanbanSDA.ViewModels.BoardViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div>
    <hr />
    <table class="table">
        <tr>
            @foreach(var col in Model.ColumnsList)
            {
                <th>
                    @Html.DisplayFor(modelItem => col.Name)
                </th>
            }
        </tr>
        <tr>
            @foreach(var col in Model.ColumnsList)
            {
                <td>
                    @foreach (var iss in Model.IssuesList)
                    {
                        <div class="panel-group">
                            @if(iss.ColumnId==col.Id)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>
                                            @Html.DisplayFor(modelItem => iss.Name)
                                        </h4>
                                    </div>
                                    <div class="panel panel-body">
                                        <p>
                                            @Html.DisplayFor(modelItem => iss.Description)
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    }       
                </td>
            }
        </tr>
    </table>
</div>

